version: "3.8"

services:
  neo4j:
    image: neo4j:5
    container_name: neo4j
    environment:
      NEO4J_AUTH: "neo4j/myneo4jpassword"
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data

  fastapi:
    build: .
    container_name: fastapi-uv-app
    ports:
      - "8000:8000"
    depends_on:
      - neo4j

volumes:
  neo4j_data:
